.container {
    position: absolute;
    height: 10px;
    width: 10px;
    text-align: center;
    border: 1px solid white;
    box-sizing: border-box;
}

.container:before {
    content: '';
    display: block;
    margin: auto;
    transform: translate(-1px, -6px) rotate(-30deg);
    border: 1px solid white;
}

.container.value4 {
    background-color: #FF0000;
}

.container.value4:before {
    width: 2px;
    height: 4px;
    background-color: #00FF00;
    
}

.container.value2 {
    background-color: #00FF00;
}

.container.value2:before {
    width: 2px;
    height: 4px;
    background-color: #754937;
}